/* Custom CSS for Devops Heading */


.title {
  font-size: 8em;
}

.devops-subtitle {
  text-transform: uppercase;
  letter-spacing: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  text-indent: 1.8em;
  text-align: 1em;
  margin-top: -1em;
  font-family: Roboto;
}

.dev-text {
  color: darksalmon;
}

.ops-text {
  color: darkslategrey;
}

@media(min-width: 1200px) {
  .title {
    font-size: 14em;
  }

  .devops-subtitle {
    font-size: 2em;
  }
}
