html {
    background: #FFF
}
html{
    color: #333333
}
body {
    font-family: Roboto, 'Gill Sans', Optima, Verdana, sans-serif;
    line-height: 180%
}
.main-heading-row{
    margin-right: 9em !important;
}
.content-container{
    max-width: 728px !important;
}
#footer {
    clear: both;
    text-align: center;
    font-size: small
}
img {
    border: 0;
}
.content img{
    max-width:100%;
    height:auto
}
h1,
.feedflare {
    display: none
}
.horizontal,
.simple li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline
}
.simple li:before {
    content: "+ "
}
.simple > li:first-child:before {
    content: ""
}
.author {
    text-decoration: none;
    display: block;
    float: right;
    margin-left: 2em;
    font-size: small
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0
}
li {
    clear: both
}
.article-link{
    border-bottom: 1px dotted black;
    padding-bottom: 0.2em;
}
.article-link:hover{
      background: lightgrey;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
.end-of-article{
      margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(1, 1, 1, 0.3), rgba(0, 0, 0, 0));
}
.logo {
    height: 15em;
    margin-top: 4em;
}
.title {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,sans-serif;
    font-size: 14em;
    font-weight: 100;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0.6em;
}
.description {
    font-family: Roboto;
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
}
.main-content {
    margin-top: 2em;
}
a h3 {
    color: #607d8b;
    text-decoration: none;
    border-bottom: 0 !important;
}
a {
    color: #607d8b;
    border-bottom: 1px solid #607d8b;
}
@media (max-width: 768px) {
  .title {
      font-size: 6em;
  }
  .logo {
      height: 10em;
      margin-top: 1em;
  }
}
@media (max-width: 992px){
   .main-heading-row{
      margin-right: 0em !important;
    }
}