SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user command
00  * *   *   *   root update-page >> /var/log/update-pages.log 2>&1
20  * *   *   *   root update-page >> /var/log/update-pages.log 2>&1
40  * *   *   *   root update-page >> /var/log/update-pages.log 2>&1
